.roboto-mono-uniquifier {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: gainsboro;
}

.tm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.t1{
    transition: padding 0.1s;
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
}

.t2 {
    transition: padding 0.1s;
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin: 10px;
    padding: 10px;
}

.t3 {
    transition: padding 0.1s;
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
}

.t4 {
    transition: padding 0.1s;
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin: 10px;
    padding: 10px;
}

.t5 {
    transition: padding 0.1s;
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
}

.t6 {
    transition: padding 0.1s;
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin: 10px;
    padding: 10px;
}

.t7 {
    transition: padding 0.1s;
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
}

.t8 {
    transition: padding 0.1s;
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin: 10px;
    padding: 10px;
}

.t9 {
    transition: padding 0.1s;
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 10px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
}

.t1:hover{
    padding: 15px;
}

.t2:hover{
    padding: 15px;
}

.t3:hover{
    padding: 15px;
}

.t4:hover{
    padding: 15px;
}

.t5:hover{
    padding: 15px;
}

.t6:hover{
    padding: 15px;
}

.t7:hover{
    padding: 15px;
}

.t8:hover{
    padding: 15px;
}

.t9:hover{
    padding: 15px;
}


.upp {
    border: 3px solid black;
    border-radius: 10px;
    padding: 6px;
    margin: 25px;
    width: 100px;
}

.up {
    border: 3px solid black;
    border-radius: 10px;
    padding: 6px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.footer {
    background-color: rgb(42, 211, 211);
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

.imgg {
    width: 250px;
    height: 250px;
}
